pipeline/ControlFlow4_PL.json
{
	"name": "ControlFlow4_PL",
	"properties": {
		"activities": [
			{
				"name": "Get_Folder_Metadata_AC",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"fieldList": []
				}
			},
			{
				"name": "ForEach_AC",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get_Folder_Metadata_AC",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get_Folder_Metadata_AC').output.childItems",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Get_File_Metadata_AC",
							"type": "GetMetadata",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"fieldList": []
							}
						},
						{
							"name": "CheckDate_AC",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "Get_File_Metadata_AC",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@greaterOrEquals(activity('Get_File_Metadata_AC').output.lastModified,adddays(utcnow(),-7))",
									"type": "Expression"
								},
								"ifTrueActivities": [
									{
										"name": "Copy_Data_AC",
										"type": "Copy",
										"dependsOn": [],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "BlobSource",
												"recursive": true
											},
											"sink": {
												"type": "SqlSink",
												"writeBatchSize": 10000,
												"preCopyScript": "Delete from FactInternetSales"
											},
											"enableStaging": false
										}
									}
								]
							}
						}
					]
				}
			}
		],
		"annotations": []
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}